* {
  box-sizing: border-box;
  font-family: "lucida console", "courier new", monospace;
}

body {
  padding: 10px;
  background: #1b1c1c;
}

.mainheader {
  width: 100%;
  color: white;
  background-color: #1b1c1c;
  border-style: hidden;
}

.mainheader h1 {
  overflow: hidden;
  background-color: #0304be;
  position: relative;
  top: 20px;
  width: 100%;
  border-style: solid;
  border-width: 5px;
  border-color: #d4d0ca;
  color: white;
  padding: 10px 8px;
  font-size: 30px;
  text-align: center;
}

.header img {
overflow: hidden;
max-width: 70px;
float: right;
text-align: center;
position: relative;
bottom: 10px;
}

.header {
background-color: #d4d0ca;
margin: 0px;
padding: 30px 30px;
}

.header p {
color: black;
text-align: center;
position: relative;
top: 10px;
}

.card h2 {
display: inline;
background-color: #d4d0ca;
margin: 0px;
padding: 0px 00px;
color: #4d9b07;
}

.fakenav {
  overflow: hidden;
  background-color: #0304be;
  position: relative;
  top: 20px;
  width: 100%;
  border-style: solid;
  border-width: 5px;
  border-color: #d4d0ca;
  font-size: 13px;
  color: white;
  padding: 0px 8px;
}

.socialnav {
overflow: hidden;
background: #d4d0ca;
position: relative;
bottom: 20px;
width: 100%;
border-style: solid;
border-left-width: 5px;
border-right-width: 5px;
border-color: #d4d0ca;
font-size: 13px;
}

.socialnav a {
  float: right;
  display: block;
  color: black;
  text-align: center;
  padding: 8px 8px;
  margin: 5px;
  text-decoration: none;
  border-style: solid;
  border-width: 1px;
  border-bottom-color: black;
  border-right-color: black;
  border-top-color: white;
  border-left-color: white;
  }
  
.socialnav a:hover {
  background-color: #bdb9b4;
  color: black;
  border-style: solid;
  border-width: 1px;
  border-bottom-color: white;
  border-right-color: white;
  border-top-color: black;
  border-left-color: black;
  }

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background: #d4d0ca;
  position: sticky;
  top: 0;
  width: 100%;
  border-style: solid;
  border-left-width: 5px;
  border-right-width: 5px;
  border-color: #d4d0ca;
  font-size: 13px;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 8px 8px;
  margin: 5px;
  text-decoration: none;
  border-style: solid;
  border-width: 1px;
  border-bottom-color: black;
  border-right-color: black;
  border-top-color: white;
  border-left-color: white;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #bdb9b4;
  color: black;
  border-style: solid;
  border-width: 1px;
  border-bottom-color: white;
  border-right-color: white;
  border-top-color: black;
  border-left-color: black;
}
a.active {
background-color: #bdb9b4;
color: black;
border-style: solid;
  border-bottom-color: white;
  border-right-color: white;
  border-top-color: black;
  border-left-color: black;
}
.leftcolumn {   
  float: left;
  width: 75%;
}
.rightcolumn {
  float: left;
  width: 25%;
  background-color: #1b1c1c;
  padding-left: 20px;
}
.img {
  padding: 20px 20px;
  max-width: 100%;
}

.card {
  background-color: #000000;
  padding: 20px;
  margin-top: 20px;
  border-style: solid;
  border-color: #d4d0ca;
  border-width: 5px;
  border-top-style: hidden;
  color: white;
}

.card2 {
  background-color: #d4d0ca;
  padding: 20px;
  margin-top: 20px;
  border-style: solid;
  border-color: #d4d0ca;
  border-width: 5px;
  border-top-style: hidden;
  color: black;
  }

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}

@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}